.search_container {
  width: 100%;
  display: flex;
}

input {
  border-radius: 1rem;
  border: 2px solid var(--pri);
  padding: 12px 24px;
  width: 100%;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  background-color: var(--bg);
  color: var(--text);
  font-weight: 800;
}

input::placeholder {
  color: var(--text);
}

form {
  width: 100%;
  display: flex;
  gap: 3rem;
}

.selected {
  position: absolute;
  top: 8;
  right: 8;
  background: var(--pri);
  color: var(--text);
  border-radius: : 50%;
  padding: 0.3rem 0.4rem;
  font-size: 0.9rem;
}
