.search_container {
  width: 100%;
  display: flex;
}

input {
  border-radius: 1rem;
  border: 2px solid var(--pri);
  padding: 12px 24px;
  width: 100%;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  background-color: var(--text);
  color: var(--sub);
  font-weight: 800;
}

form {
  width: 100%;
  display: flex;
  gap: 3rem;
}
