.card {
  padding: 1rem;
  border: 1px solid var(--text);
  border-radius: 8px;
  margin: 1rem;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.controls {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voteBtn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
}

.seekSlider {

}

.seekSlider {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}

.seekSlider::-webkit-slider-runnable-track {
  height: 4px;
  background: #1db954;
  border-radius: 2px;
}

.seekSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;
  margin-top: -4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.seekSlider::-moz-range-track {
  height: 4px;
  background: #1db954;
  border-radius: 2px;
}

.seekSlider::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;
  border: none;
}
